html body {
  padding:0;
  margin:0;
  font-family: monospace;
}

#grid {
  position:fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background:#000;
}

.cell {
  position: absolute;
}

.alive,
.cell:hover {
  background:#F00Baa;
}

.origin {
  border:1px solid green;
}

.searching {
  border:1px solid green;
}

.searching2 {
  border:1px solid rebeccapurple;
}

#currentGeneration {
  color:#FFF;
}

#nav {
  position:fixed;
  top:1rem;
  left: 1rem;
  z-index: 10;
  padding:0.5rem;
}

#nav p {
  color:#FFF;
}